# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# perseonal scripts
/lib/mongodb_script.ts
/scripts/bulk-personalize.js
/scripts/bulk-personalize.js.new
/scripts/bulk-personalize.mjs
/scripts/create-personalized-lesson.js
/scripts/personalize.js